
# Navigation shortcuts
alias la="ls -lah"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias c="clear"

# Folder shortcuts
alias dl="cd ~/Downloads"
alias db="cd ~/Dropbox"
alias dt="cd ~/Desktop"
alias dc="cd ~/Documents"
alias pr="cd ~/Projects"
alias dot="cd ~/.dotfiles"
alias vag="cd ~/Projects/vagrant"
alias o="open"
alias oo="open ."

# Create directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

# Vagrant aliases
alias vup="vagrant up"
alias vhalt="vagrant halt"
alias vssh="vagrant ssh"

# Tmux shortcuts


# Other shortcuts
# Ping google
alias pingg="ping -c 4 www.google.com"

# Print a source file
enprint() {
    enscript --line-numbers -p - --word-wrap $1 | pstopdf -i -o ~/Documents/$2.pdf
}
alias en=enprint

# Enprint with color highlighting
enprintColor() {
    enscript --line-numbers --highlight --color -p - --word-wrap $1 | pstopdf -i -o ~/Documents/$2.pdf
}
alias enc=enprintColor

