{{- $gitAuthorName := promptStringOnce . "gitAuthorName" "Git author name" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Git email" -}}

[data]
    gitAuthorName = {{ $gitAuthorName | quote }}
    gitEmail = {{ $gitEmail | quote }}
