[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "sorin-ionescu/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
