[core]
	editor = vim
[alias]
	a = add -A
	s = status -s
	cm = commit
    cl = clone
    ca = !git add -A && git commit -av
	p = pull
    f = fetch
	ps = push
    po = push origin
	co = checkout -B
    go = checkout
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = osxkeychain
[push]
	default = simple
