snippet r::g
	Route::get('${1:}', function() {
		${0}
	});
snippet r::r
	Route::resource('${1:}', '${2:}');
snippet method
	public function ${1:}() {
		${0}
	}
snippet f::o
	{{ Form::open(array('${1:}' => '${2:}')) }}
		${0}
	{{ Form::close() }}
snippet htmldoc
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<title>title</title>
			<link rel="stylesheet" href="style.css">
			<script src="script.js"></script>
		</head>
		<body>
			${0}
		</body>
	</html>
