{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

[alias]
  # 20 latest commits with pretty output
  l = log --pretty=oneline -n 20 --graph --abbrev-commit

  # View status using short format
  s = status

  # Show the diff between the latest commit and the current state.
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

  # Pull in remote changes for the current repository and all its submodules.
  p = pull --recurse-submodules

  # Commit with message
  cm = commit -m

  # Commit all changes
  ca = !git add -A && git commit -av

  # Go to branch, or create if necessary
  go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

  # Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch --all
	remotes = remote --verbose

  # Amend the currently staged files to the latest commit.
	amend = commit --amend --reuse-message=HEAD

  # Interactive rebase with the given number of latest commits.
	reb = "!r() { git rebase -i HEAD~$1; }; r"

[apply]
  whitespace = fix

[branch]
	# Show most recently changed branches first.
	sort = -committerdate

[core]
  editor = nvim

  # Make `git rebase` safer on macOS.
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

[push]
  # https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple

[credential]
  helper = osxkeychain

[init]
	defaultBranch = main

[user]
  name = {{ $name | quote }}
  email = {{ $email | quote }}

[pull]
	rebase = false

[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
    tool = nvimdiff
[mergetool]
    prompt = true
[mergetool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"
